<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    
    <module-name>keycloak-sso-app1</module-name>
    
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>realmone</realm-name>
    </login-config>
    
    <filter>
        <filter-name>Keycloak Filter</filter-name>
        <filter-class>org.keycloak.adapters.servlet.KeycloakOIDCFilter</filter-class>
        <init-param>
            <param-name>keycloak.config.skipPattern</param-name>
            <param-value>^/(public|css|js)/.*</param-value>
        </init-param>
        <init-param>
            <param-name>keycloak.config.idMapper</param-name>
            <param-value>org.keycloak.adapters.spi.InMemorySessionIdMapper</param-value>
        </init-param>
    </filter>
    
    <filter-mapping>
        <filter-name>Keycloak Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <url-pattern>/keycloak/*</url-pattern>
        <url-pattern>/protected/*</url-pattern>
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.uglyeagle.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.uglyeagle.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>